$primary-color: #917688;
$button-color: #665360;
$headings-color: #f3feff;
// $bg-color:#536466;
$bg-color: linear-gradient(to right, #768c91, #536466);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", "sans-serif";
  display: flex;
  color: $headings-color;
  flex-direction: column;
  background: $bg-color;
}

nav {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;

  h3 {
    color: $headings-color;
    font-weight: 400;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      padding: 5px;

      a {
        cursor: pointer;
        text-decoration: none;
        color: #000;
      }
    }
  }
}

section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em 3em;
  width: 100%;
  min-height: 100vh;
  // background: $bg-color;
}

figure {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: $primary-color;

  img {
    object-position: center;
    height: 100%;
    margin-left: 10%;
    margin-top: 5%;
  }
}

.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    h1 {
      color: $headings-color;
      font-size: 32px;
      font-weight: 400;
    }
    h3,
    h4 {
      font-weight: 500;
      letter-spacing: 1px;
    }
    p {
      width: 500px;

      text-align: center;
      color: #2d2a2a;
    }
  }
}

h2 {
  font-size: 32px;
  font-weight: 400;
}
button {
  display: inline-block;
  border: none;
  background-color: $button-color;
  border-radius: 10px;
  box-shadow: 1px #333;
  color: #eeeeee;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  cursor: pointer;
}

.about {
  display: flex;
  gap: 1rem;
  border-top: 1px solid #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__summary {
    gap: 20px;
    h2 {
      margin: 2rem 0;
      text-align: center;
    }
    p {
      margin-bottom: 2rem;
      width: 900px;
      text-align: center;
      color: #000;
    }
  }
  .card-container {
    display: flex;
    gap: 1rem;
  }
  article {
    flex: 1;
    background-color: #768c91;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
